html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: url('../public/hintergrund.gif') no-repeat center center fixed;
  background-size: cover;
}